<header-nav [back]="true"></header-nav>

<ion-content>
<form 
  [ngFormModel] = "signupForm"
  (ngSubmit)="onSubmit(loginForm.value)"
>     
      <!-- GENERAL ERROR MESSAGES -->
      <div  class="form-group">
        <div class="error-message" [hidden]="!error">
            {{ 'error' | translate:{value: param} }}
        </div>
      </div>
      <!-- END GENERAL ERROR MESSAGES -->

      <!-- EMAIL GROUP -->
      <div  class="group"
      [ngClass]="{ 'has-error' : !email.valid && submitAttempt || credientials}"
      >

       
        <em *ngIf="!email.valid && submitAttempt">
          {{ 'email-required' | translate:{value: param} }}
        </em>
        <input 
          id="email" 
          type="text" 
          ngControl="email"
          required 
        >
        <span class="highlight"></span>
        <span class="bar"></span>
         <label>
          {{ 'email' | translate:{value: param} }}
        </label>
      </div>
      <div  class="group"
      [ngClass]="{ 'has-error' : !emailRepeat.valid && submitAttempt || credientials}"
      >

       
        <em *ngIf="!emailRepeat.valid && submitAttempt">
          {{ 'email-required' | translate:{value: param} }}
        </em>
        <input 
          id="emailRepeat" 
          type="text" 
          ngControl="emailRepeat"
          required 
        >
        <span class="highlight"></span>
        <span class="bar"></span>
         <label>
          {{ 'email-repeat' | translate:{value: param} }}
        </label>
      </div>
      <!-- END EMAIL GROUP -->

      <!-- PASSWORD GROUP -->
      <div class="group"
      [ngClass]="{ 'has-error' : !password.valid && submitAttempt || credientials}">
        <em *ngIf="!password.valid && submitAttempt">
          {{ 'password-required' | translate:{value: param} }}
        </em>
        <input 
          type="password" 
          ngControl="password"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="password">
          {{ 'password' | translate:{value: param} }}
        </label>
      </div>

      <div class="group"
      [ngClass]="{ 'has-error' : !passwordRepeat.valid && submitAttempt || credientials}">
        <em *ngIf="!passwordRepeat.valid && submitAttempt">
          {{ 'password-required' | translate:{value: param} }}
        </em>
        <input 
          type="password" 
          ngControl="password"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          {{ 'password-repeat' | translate:{value: param} }}
        </label>
      </div>
      <!-- END PASSWORD GROUP -->

      <div class="group"
      [ngClass]="{ 'has-error' : !firstName.valid && submitAttempt || credientials}">
        <input 
          type="text" 
          ngControl="firstName"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          {{ 'firstName' | translate:{value: param} }}
        </label>
      </div>

      <div class="group"
      [ngClass]="{ 'has-error' : !lastName.valid && submitAttempt || credientials}">
        <input 
          type="text" 
          ngControl="lastName"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          {{ 'lastName' | translate:{value: param} }}
        </label>
      </div>

      <div class="form-group">
        <button id="login" toggle md-raised-button color="primary" type="submit"> {{ 'signup' | translate:{value: param} }}</button>
      </div>
</form>

</ion-content>

