<header-nav [slogan]="slogan" [topBg]="background" [back]="true"></header-nav>

<ion-content>
<form 
  [ngClass]="{ 'has-error' : emailTaken || error }"
  [formGroup] = "signupForm"
  (ngSubmit)="onSubmit(signupForm.value)"
>     
      <!-- GENERAL ERROR MESSAGES -->
      <div  class="form-group">
        <div class="error-message" [hidden]="!error">
            {{ 'error' | translate:{value: param} }}
        </div>
        <div class="error-message" [hidden]="!emailTaken">
            {{ 'email-taken' | translate:{value: param} }}
        </div>
      </div>
      <!-- END GENERAL ERROR MESSAGES -->

      <!-- EMAIL GROUP -->
      <div  class="group"
      [ngClass]="{ 'has-error' : !signupForm.controls.email.valid && submitAttempt || credientials}"
      >

       
        <em *ngIf="!signupForm.controls.email.valid && submitAttempt">
          {{ 'email-required' | translate:{value: param} }}
        </em>
        <input 
          id="email" 
          type="email" 
          formControlName="email"
          autocapitalize="off" autocorrect="off"
          required 
        >
        <span class="highlight"></span>
        <span class="bar"></span>
         <label>
          {{ 'email' | translate:{value: param} }}
        </label>
      </div>
      <div  class="group"
      [ngClass]="{ 'has-error' : !signupForm.controls.emailRepeat.valid && submitAttempt || credientials}"
      >

       
        <em *ngIf="!signupForm.controls.emailRepeat.valid && submitAttempt">
          {{ 'email-required' | translate:{value: param} }}
        </em>
        <input 
          id="emailRepeat" 
          type="email" 
          formControlName="emailRepeat"
          utocapitalize="off" autocorrect="off"
          required 
        >
        <span class="highlight"></span>
        <span class="bar"></span>
         <label>
          {{ 'email-repeat' | translate:{value: param} }}
        </label>
      </div>
      <!-- END EMAIL GROUP -->

      <!-- PASSWORD GROUP -->
      <div class="group"
      [ngClass]="{ 'has-error' : !signupForm.controls.password.valid && submitAttempt || credientials}">
        <em *ngIf="!signupForm.controls.password.valid && submitAttempt">
          {{ 'password-required' | translate:{value: param} }}
        </em>
        <input 
          type="password" 
          formControlName="password"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="password">
          {{ 'password' | translate:{value: param} }}
        </label>
      </div>

      <div class="group"
      [ngClass]="{ 'has-error' : !signupForm.controls.passwordRepeat.valid && submitAttempt || credientials}">
        <em *ngIf="!signupForm.controls.passwordRepeat.valid && submitAttempt">
          {{ 'password-required' | translate:{value: param} }}
        </em>
        <input 
          type="password" 
          formControlName="passwordRepeat"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          {{ 'password-repeat' | translate:{value: param} }}
        </label>
      </div>
      <!-- END PASSWORD GROUP -->

      <div class="group"
      [ngClass]="{ 'has-error' : !signupForm.controls.firstName.valid && submitAttempt || credientials}">
        <input 
          type="text" 
          formControlName="firstName"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          {{ 'firstName' | translate:{value: param} }}
        </label>
      </div>

      <div class="group"
      [ngClass]="{ 'has-error' : !signupForm.controls.lastName.valid && submitAttempt || credientials}">
        <input 
          type="text" 
          formControlName="lastName"
          required
        >     
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          {{ 'lastName' | translate:{value: param} }}
        </label>
      </div>

      <div class="form-group">
        <button id="login" toggle md-raised-button color="primary" type="submit"> {{ 'signup' | translate:{value: param} }}</button>
      </div>
</form>

</ion-content>

