signup-page{
	overflow-y: scroll;
}

ion-content#login{

	top:40%;
	

	.group { 
	  position:relative; 
	  margin-top:10%; 
	  width: 80%;
	  margin-left: 10%;
	}

	#login{
		margin-top: 10%;
	}


	#login-fb, #register, #login{
		width: 80%;
		margin-left: 11%;
		text-align: center;
		.ion-logo-facebook{
			left:5%;
		}
	}
}