ion-content#tips{
	background-color: white;
	
		scroll-content{
			height: 60%;
		}
		height: 60%;
		top:30%;

		h2{
			width: 100%;
			font-weight: bolder;
			font-size: 3.5vh;
			margin-bottom: 2%;
			margin-top: 5%;
		}

		p{
			padding-right: 5%;
			text-align:justify;
			width: 100%;
			font-size: 2.5vh;
		}

		.footer{
			width: 100%;
			text-align: center;
		}

		a{
			width: 100%;
			text-align: center;
		}
	
}