<header-nav [slogan]= "slogan" [back]="true" [topBg]='background'  ></header-nav>

<ion-content id="watch">

  <form 
    novalidate
    [formGroup]="watchForm"
    (ngSubmit)="onSubmit()"
  >     
 


    <mobile-error [errors] = "errors"></mobile-error>

    <mobile-input 
      [id]            = "'brand'"
      [control]       = "watchForm.controls['brand']" 
      [errorLabel]    = "'brand-required'"
      [submitAttempt] = "submitAttempt"
      [model]         = true
      [(value)]       = "watchModel.brand"
      (valueChange)   = filterBrand($event)
    >
    </mobile-input>

    <div class="suggestions" *ngIf="filteredBrandList.length > 0">
      <ul>
        <li *ngFor="let brand of filteredBrandList">
          <a (click)="selectBrand(brand.name)">{{ brand.name }}</a>
          <img src="assets/watches/ico_watches/{{ brand.icon }}"/>
        </li>
      </ul>
    </div>

    <mobile-input 
      [id]            = "'name'"
      [label]         = "'model'"
      [errorLabel]    = "'model-required'"
      [control]       = "watchForm.controls['name']" 
      [submitAttempt] = "submitAttempt"
      [model]         = true
      [(value)]       = "watchModel.name"
      (valueChange)   = filterModel($event)
    >
    </mobile-input>
    <div class="suggestions" *ngIf="filteredModelList.length > 0">
      <ul>
        <li *ngFor="let model of filteredModelList">
          <a (click)="selectModel(model)">{{ model }}</a>
        </li>
      </ul>
    </div>

    <mobile-input 
      [id]             = "'caliber'"
      [control]        = "watchForm.controls['caliber']" 
      [submitAttempt]  = "submitAttempt"
      [model]          = true
      [(value)]        = "watchModel.caliber"
      (valueChange)    = filterCaliber($event)
    >
    </mobile-input>
    <div class="suggestions" *ngIf="filteredCaliberList.length > 0">
      <ul>
        <li *ngFor="let caliber of filteredCaliberList">
          <a (click)="selectCaliber(caliber)">{{ caliber }}</a>
        </li>
      </ul>
    </div>

    <mobile-input 
      [id]            = "'year'"
      [control]       = "watchForm.controls['year']" 
      [submitAttempt] = "submitAttempt"
      [errorLabel]    = "'year-required'"
      [model]         = true
      [(value)]       = "watchModel.yearOfBuy"
    >
    </mobile-input>

    <mobile-input 
      [id]            = "'serial'"
      [control]       = "watchForm.controls['serial']" 
      [submitAttempt] = "submitAttempt"
      [model]         = true
      [(value)]       = "watchModel.serial"
    >
    </mobile-input>

    <div  class="group">

      <div  [hidden]="watchModel.id!==null">
        <button
        [disabled]="watchForm.valid && submitAttempt && error == false"
        ion-button  
        color="primary" type="submit"> 
        <span [hidden]="submitAttempt && watchForm.valid && error == false">{{ 'add-watch' | translate }}</span>
        <ion-spinner [hidden]="!submitAttempt || !watchForm.valid || error"></ion-spinner>
        </button>
      </div>
    
      <div [hidden]="watchModel.id===null">
          <button [disabled]="submitAttempt && watchForm.valid" ion-button color="accent" type="submit"
          > 
          <span [hidden]="submitAttempt">{{ 'update-watch' | translate }}</span>
          <ion-spinner [hidden]="!submitAttempt  && watchForm.valid"></ion-spinner>
          </button>

          <button [disabled]="submitAttempt" ion-button color="danger"
          (click)="onDelete()"> 
          <span [hidden]="submitAttempt">{{ 'delete-watch' | translate }}</span>
          <ion-spinner [hidden]="!submitAttempt"></ion-spinner>
          </button>
      </div>

    </div>

  </form>

</ion-content>