<header-nav></header-nav>

<ion-content id="dashboard">

 
<div *ngIf="user && user.watches.length == 0" class="no-watch">
  <h1>{{ 'no-watch' | translate }}</h1>
  <p>{{ 'no-watch-sub' | translate }}</p>
  <button primary (click)="newWatch()">
      {{ 'new-watch' | translate }}
  </button>
</div>

<ion-refresher  *ngIf="user && user.watches.length != 0"  (ionRefresh)="onRefresh($event)">

    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{ 'refresh-info' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'refreshing' | translate }}">
      </ion-refresher-content>
    </ion-refresher>

      <ion-list id="dash-list" *ngIf="user && user.watches.length != 0">


        <ion-item-sliding #slidingItem *ngFor="let watch of user.watches">

          <ion-item>

            
            <div id="brand-container" >        
            
              <div *ngIf="watch.lastCompleteMeasure() == null || (watch.lastCompleteMeasure().renewed == false && watch.lastCompleteMeasure().serviced == false) " id="brand" class="circle-info"
              [ngClass]="[backgrounds[watch.id].bgColor]"
              [ngStyle]="{'background-image': backgrounds[watch.id].image}"
              >
                  <span style="color:white" *ngIf="backgrounds[watch.id].image == ''">{{ watch.initials }}</span>
              </div>


              <div (click)="warning(watch)" *ngIf="watch.lastCompleteMeasure() != null && watch.lastCompleteMeasure().renewed == true && watch.lastCompleteMeasure().serviced == false" id="brand" class="circle-info warning-bg"
              >
                <ion-icon ios="md-warning" md="md-warning"></ion-icon>
              </div>

              <div (click)="error(watch)" *ngIf="watch.lastCompleteMeasure() != null && watch.lastCompleteMeasure().serviced" id="brand" class="circle-info error-bg"
              >
                <ion-icon ios="md-alert" md="md-alert"></ion-icon>
              </div>
            </div>

            <div id="right-action">

              <h2>{{ watch.brand }}</h2>
              <h3>{{ watch.name }}</h3>
              
            </div>

              <div id="accuracy">
                <span  *ngIf="watch.status !== WatchStatus.NeverMeasured && watch.lastCompleteMeasure() !== null">
                  {{ watch.lastCompleteMeasure().accuracy | arethmeticSign | kFormatter}}
                  <span id="spd">{{'spd-short' | translate }}
                  </span>
                </span>
              </div>



            <div class="item-stats">
              
                <div class="stats">
                   
                  <p class="stats-number"> {{ watch.historySize }}<ion-icon ios="md-stopwatch" md="md-stopwatch"></ion-icon></p>
                </div>

                <div class="stats middle">
                    
                    <p class="stats-number" *ngIf="watch.status !== WatchStatus.NeverMeasured
                    && watch.lastCompleteMeasure() !== null">{{ watch.lastCompleteMeasure().percentile}}%<ion-icon ios="md-globe" md="md-globe"></ion-icon></p>
                    <p class="stats-number" *ngIf="watch.lastCompleteMeasure() == null">0.0%<ion-icon ios="md-globe" md="md-globe"></ion-icon></p>
                 </div>

              <button ion-button class="stats" color="secondary" (click)="measureWatch(watch, slidingItem)" *ngIf="watch.next === WatchAction.Measure" item-right>
                {{ 'new-measure' | translate }}
              </button>
              <button ion-button class="stats" color="secondary" (click)="measureWatch(watch, slidingItem)" *ngIf="watch.next === WatchAction.Accuracy" item-right>
                {{ 'check-accuracy' | translate }}
              </button>
              <button ion-button class="stats" disabled *ngIf="watch.next === WatchAction.Waiting" item-right>
                {{ 'waiting' | translate }}
                {{ watch.waiting }} 
                {{ 'hours' | translate }}
              </button>

            </div>



          </ion-item>
          <ion-item-options side="left">
            <button (click)="deleteWatch(watch, slidingItem)" color="danger" ion-button icon-only>
              <ion-icon  name="ios-trash-outline"></ion-icon>
            </button>

          </ion-item-options>
          <ion-item-options side="right">
            <button (click)="updateWatch(watch, slidingItem)" color="secondary" ion-button icon-only>
              <ion-icon name="ios-build-outline"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>



<footer-nav  [user]="user"></footer-nav>