
<header-nav [back]="true"></header-nav>

<ion-content class="measure" *ngIf="step === 0">


  <h3 class="top">{{ 'measure-instructions-part-1' | translate:{value: param} }} {{ 'measure-instructions-part-2' | translate:{value: param} }}</h3>

  <div [class.active]="active" class="main-button" (click)="measure()">
    <button  class="sync-button" primary> 
    </button>
  </div>

</ion-content>

<ion-content class="confirm" *ngIf="step === 1">

  <h2>{{ 'sync-confirm' | translate:{value: param} }}:</h2>
  <h1>
        <ion-datetime displayFormat="HH:mm:00" pickerFormat="HH:mm" [(ngModel)]="offsetedDateString"></ion-datetime>
  </h1>

  <button (click)="validate()" class="round" secondary>

    <ion-spinner *ngIf="waitingApi"></ion-spinner>
    <ion-icon *ngIf="!waitingApi" ios="md-checkmark" md="md-checkmark"></ion-icon>  
  </button>  

  <button (click)="alert()" class="round">
    <ion-icon ios="md-help" md="md-help"></ion-icon>  
  </button>

</ion-content>

<ion-content class="hourslimit" *ngIf="step === 2">

  <h1>{{ 'well-done' | translate:{value: param} }}</h1>

  <div id="h5">
     <ion-img id="image-h5" [src]="highFiveSrc"></ion-img>
  </div>

  <p>
    {{ '12-hours-explain' | translate:{value: param} }}
  </p>
  <button (click)="leave()" class="sync-button" primary>
    {{ 'back-dashboard' | translate:{value: param} }}
  </button>
</ion-content>

<ion-content class="result" *ngIf="step === 3">

  <span class='watch-name'>{{ watch.brand + " " + watch.name }}</span>
  <h1>{{accuracy | arethmeticSign }}</h1> 
  <span class='spd'>{{ 'spd' | translate:{value: param} }}</span>
  

  <div class="stats">
      <ion-icon ios="md-stopwatch" md="md-stopwatch"></ion-icon>  
      <p class="stats-number">{{ watch.historySize }}</p>
      <span class="stats-label">{{'total-measures'  | translate:{value: param} }}</span>
  </div>

  <div class="stats middle">
      <ion-icon ios="md-podium" md="md-podium"></ion-icon>  
      <p class="stats-number">{{ watch.average(3) }}</p>
      <span class="stats-label">{{'average-spd-3'  | translate:{value: param} }}</span>
  </div>

  <div class="stats">
      <ion-icon ios="md-globe" md="md-globe"></ion-icon>  
      <p class="stats-number">{{percentage}}%</p>
      <span class="stats-label">{{'accuracy-percentil' | translate:{value: param} }}</span>
  </div>

  <button primary (click)="share()"> 
     <ion-icon ios="ios-send-outline" md="ios-send-outline"></ion-icon>
  </button>
</ion-content>