.measure-page{
	background-color: white;
	overflow: hidden;

	ion-content{
		top:30%;
		height:70%;
	}

	.measure{
		flex-wrap: wrap;
		display: flex;
		padding-left: 15vw;

		h3{
			padding-top:5%;
			padding-left:5%;
			padding-right:5%;
			margin-bottom: -5%;
			text-align: center;
		}

		button{
			position: relative;
			width: 70vw;
			height: 70vw;
			border-radius: 65%;
			background: url('../assets/images/stepnew.png') rgba(77, 119, 167, 1);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			// background-color: rgba(255, 255, 255, 0.2);
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
			transition: all 0.2s linear;
			margin: 15vw;
		}

		.main-button{
			position:relative;
			width:100%;
			height:auto;
			&:before, &:after {
				  position: absolute;
				  top: -35vw;
				  left: -35vw;
				  display: block;
				  width: 170vw;
				  height: 170vw;
				  border: 1.5em solid rgba(77, 119, 167, 0.5);
				  border-radius: 50%;
				  box-sizing: border-box;
				  content: "";
				  transform: scale(0.4);
				  opacity: 1;
			}

			&:hover::before, &:hover::after{
				animation: wave 1s ease-in-out infinite;
			}
		}

		@keyframes push {
		  15% {transform: scale(0.75); box-shadow: 0 0 1px rgba(0, 0, 0, 0.3)}
		  75% {transform: scale(1.1); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)}
		  100% {transform: scale(1)}
		}

		@keyframes wave {
		  10% {opacity: 0.3}
		  100% {transform: scale(1); opacity: 0}
		}

	}

	.confirm{
		h2{
			padding-top:5%;
			padding-left:5%;
			padding-right:5%;
			margin-bottom: -5%;
			text-align: center;
		}

		h1{
			padding-top:5%;
			padding-bottom:5%;
			margin-bottom:10%;
			border-top:1px solid #584da7;
			border-bottom:1px solid #584da7;
			margin-top: 15%;
			text-align: center;
			font-size: 5em;
			font-style: italic;
			background-color:#4d77a7;
			color:white;
		}
		
		button.round{
			font-size: 1.5em;
			position: relative;
			width: 25vw;
			height: 25vw;
			border-radius: 65%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			// background-color: rgba(255, 255, 255, 0.2);
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
			transition: all 0.2s linear;
			margin-left: 17vw;
			float: left;
		}

	}

	.hourslimit{

		#h5{
			height:40%;
			width:100%;
			// background: url('../assets/images/h5.gif');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center; 

			ion-img{
				width:100%;
				height:100%;
			}
		}

		h1{
			margin:5%;
			text-align:center;
		}

		p{
			margin:5%;
			margin-top:10%;
			height:20%;
			font-style: italic;
			text-align: center;
			font-size: 1em;
		}

		button{
			width:90%;
			margin-left:5%;
		}

		// ion-img > img{
		// 	display:none;
		// }

		// ion-img.img-loaded > img{
		// 	display:block;
		// }
	}

	.result{
		text-align: center;
		margin-top: 1%;
		width: 90%;
		margin-left: 5%;

		p.result, p.percentil{
			margin-top: 10%;
			font-size: 3.5vh;
		}

		h2{
			font-size: 4vh;
		}

		button{
			width: 100%;
		}

		.percentil{
			font-style: italic;
		}

	}


	
}