
<header-nav [back]="true"></header-nav>

<ion-content class="measure" *ngIf="step === 0">


  <h3 class="top">{{ 'measure-instructions-part-1' | translate:{value: param} }}</h3>
  <button (click)="measure()" class="sync-button" primary> </button>
  <h3 class="bottom">{{ 'measure-instructions-part-2' | translate:{value: param} }}</h3>

</ion-content>

<ion-content class="confirm" *ngIf="step === 1">
  <h2>{{ 'sync-confirm' | translate:{value: param} }}:</h2>
  <h1>{{ offsetedDateString }}</h1>

  <button class="confirm-action" (click)="validate()" primary>{{ 'sync-confirm-action' | translate:{value: param} }}</button>

  <p>{{ 'plus-minus-explain' | translate:{value: param} }}</p>

  <button class="left" (click)="retrieveMinute()" primary>{{ 'minus-minute' | translate:{value: param} }}</button>
  <button class="right" (click)="addMinute()" primary>{{ 'plus-minute' | translate:{value: param} }}</button>
</ion-content>

<ion-content class="hourslimit" *ngIf="step === 2">
  <p>
    {{ '12-hours-explain' | translate:{value: param} }}
  </p>
  <button (click)="leave()" class="sync-button" primary>
    {{ 'back-dashboard' | translate:{value: param} }}
  </button>
</ion-content>

<ion-content class="result" *ngIf="step === 3">
  <p class="result">
      {{ accuracyText }}
      <span class="percentil"> {{ percentilText }}</span>
  </p>

  <button primary (click)="share()"> {{ 'share-action' | translate:{value: param} }} </button>
  <button (click)="leave()" class="sync-button" primary>
    {{ 'back-dashboard' | translate:{value: param} }}
  </button>
</ion-content>

<footer-nav [user]="user"></footer-nav>