.about-page{
	background-color: white;
	ion-content{

		scroll-content{
			height: 60%;
		}
		height: 50%;
		top:30%;
		width: 90%;
		margin-left: 5%;
		margin-top: 1%;

		h2{
			width: 100%;
			font-weight: bolder;
			font-size: 3.5vh;
			margin-bottom: 2%;
			margin-top: 5%;
		}

		p{
			width: 100%;
			font-size: 2.5vh;
		}

		.footer{
			width: 100%;
			text-align: center;
		}

		a{
			width: 100%;
			text-align: center;
		}
	}
}