ion-content#signup{

	top:30%;
	overflow-y: scroll !important;

	.group { 
	  position:relative; 
	  margin-top:10%; 
	  width: 80%;
	  margin-left: 10%;
	}

	#login{
		margin-top: 10%;
	}

	#login-fb{
		margin-top: -2%;
	}

	form{
		height:125%;
	}

	#login-fb, #register, #login{
		width: 80%;
		margin-left: 11%;
		text-align: center;
		.ion-logo-facebook{
			position: absolute;
			left:5%;
			top:30%;
		}
	}
}