
<header-nav [back]="true"></header-nav>

<ion-content id="measure" class="measure" *ngIf="step === 0">


  <h3 class="top">{{ 'measure-instructions-part-1' | translate }} {{ 'measure-instructions-part-2' | translate }}</h3>

  <div [class.active]="active" class="main-button" (click)="measure()">
    <button  [disabled]="active"  class="sync-button" color="primary"> 
    </button>
  </div>

</ion-content>

<ion-content id="measure" class="confirm" *ngIf="step === 1">

  <h2>{{ 'sync-confirm' | translate }}:</h2>
  <h1>
        <ion-datetime displayFormat="HH:mm:00" pickerFormat="HH:mm" [(ngModel)]="offsetedDateString"></ion-datetime>
  </h1>

  <div class="adjust">
    
    <button (click)="retrieveMinute()" class="left" ion-button color="primary">
      -1 {{ 'min' | translate }}
    </button>

    <button (click)="addMinute()" class="right" ion-button color="primary">
      +1 {{ 'min' | translate }}
    </button>
  </div>


  <button ion-button  (click)="validate()" class="round" color="secondary">
    <ion-spinner *ngIf="waitingApi"></ion-spinner>
    <ion-icon *ngIf="!waitingApi" ios="md-checkmark" md="md-checkmark"></ion-icon>  
  </button>  

</ion-content>

<ion-content id="measure" class="hourslimit" *ngIf="step === 2">

  <h1>{{ 'well-done' | translate }}</h1>

  <div id="h5">
     <ion-img id="image-h5" [src]="highFiveSrc"></ion-img>
  </div>

  <p>
    {{ '12-hours-explain' | translate }}
  </p>
  <button  ion-button  (click)="leave()" class="sync-button" color="primary">
    {{ 'back-dashboard' | translate }}
  </button>
</ion-content>

<ion-content id="measure" class="result" *ngIf="step === 3">

  <span class='watch-name'>{{ watch.brand + " " + watch.name }}</span>
  <h1>{{accuracy | arethmeticSign }}</h1> 
  <span class='spd'>{{ 'spd' | translate }}</span>
  

  <div class="stats">
      <ion-icon ios="md-stopwatch" md="md-stopwatch"></ion-icon>  
      <p class="stats-number">{{ watch.historySize }}</p>
      <span class="stats-label">{{'total-measures'  | translate }}</span>
  </div>

  <div class="stats middle">
      <ion-icon ios="md-podium" md="md-podium"></ion-icon>  
      <p class="stats-number">{{ watch.average(3) }}</p>
      <span *ngIf="watch.historySize >= 4" class="stats-label">{{'average-spd-3'  | translate }}</span>
      <span *ngIf="watch.historySize < 4" class="stats-label">{{'average-spd-3-short'  | translate }}</span>
  </div>

  <div class="stats">
      <ion-icon ios="md-globe" md="md-globe"></ion-icon>  
      <p class="stats-number">{{percentage}}%</p>
      <span class="stats-label">{{'accuracy-percentil' | translate }}</span>
  </div>

  <button color="primary" (click)="share()" ion-button icon-only> 
     <ion-icon ios="ios-send-outline" md="ios-send-outline"></ion-icon>
  </button>
</ion-content>