
<div  class="group"
  [ngClass]="{ 'has-error' : !control.valid && submitAttempt }"
>

    <input #input_field
      *ngIf                 = "model === false"
      [attr.autocapitalize] = "autoCapitalize ? 'on' : 'off'"
      [attr.autocorrect]    = "autoCorrect ? 'on' : 'off'"
      [attr.autocomplete]   = "autoComplete ? 'on' : 'off'"
      [attr.spellcheck]     = "spellCheck ? 'on' : 'off'"
      class                 = "form-control" 
      id                    = "{{id}}" 
      type                  = "{{type}}" 
      [formControl]         = "control" 
      (keyup)               = "valueChange.emit($event)"
      [ngClass]             = "{'ng-not-empty': (input_field.value || 0 !== input_field.value.length)}"
    > 

    <input
      *ngIf                 = "model === true"
      [attr.autocapitalize] = "autoCapitalize ? 'on' : 'off'"
      [attr.autocorrect]    = "autoCorrect ? 'on' : 'off'"
      [attr.autocomplete]   = "autoComplete ? 'on' : 'off'"
      [attr.spellcheck]     = "spellCheck ? 'on' : 'off'"
      class                 = "form-control" 
      id                    = "{{id}}" 
      type                  = "{{type}}" 
      [formControl]         = "control" 
      [(ngModel)]           = "value"
      (ngModelChange)       = "valueChange.emit($event);"
      [ngClass]             = "{'ng-not-empty': (value || 0 !== value.length)}"
    > 

    <span class="highlight"></span>
    <span class="bar"></span>
    <label htmlFor="{{id}}">
      {{ label | translate:{value: param} }}
    </label>

        <em *ngIf="!control.valid && submitAttempt">
      {{ errorLabel | translate:{value: param} }}
    </em>

</div>