
<div  class="group"
  [ngClass]="{ 'has-error' : !control.valid && submitAttempt }"
>

    <ion-input #input_field
      *ngIf                 = "model === false"
      [attr.autocapitalize] = "autoCapitalize ? 'on' : 'off'"
      [attr.autocorrect]    = "autoCorrect ? 'on' : 'off'"
      [attr.autocomplete]   = "autoComplete ? 'on' : 'off'"
      [attr.spellcheck]     = "spellCheck ? 'on' : 'off'"
      class                 = "form-control selectable" 
      id                    = "{{id}}" 
      type                  = "{{type}}" 
      [formControl]         = "control" 
      (blur)                = "toggleFocus()" 
      (focus)               = "toggleFocus()"
      (keyup)               = "emitChange($event)"
      (press)               = "onPress()"
      (pressup)             = "onPressUp()"
    > 
    </ion-input>

    <ion-input
      *ngIf                 = "model === true"
      #input_field
      [attr.autocapitalize] = "autoCapitalize ? 'on' : 'off'"
      [attr.autocorrect]    = "autoCorrect ? 'on' : 'off'"
      [attr.autocomplete]   = "autoComplete ? 'on' : 'off'"
      [attr.spellcheck]     = "spellCheck ? 'on' : 'off'"
      class                 = "form-control selectable" 
      id                    = "{{id}}" 
      type                  = "{{type}}" 
      [formControl]         = "control" 
      [(ngModel)]           = "value"
      (ngModelChange)       = "valueChange.emit($event)"
      (press)               = "onPress()"      
      (pressup)             = "onPressUp()"
    > 
    </ion-input>

    <span 
    [ngClass] = "{'ng-focus': isFocused}"
    class="highlight">
    </span>

    <span class="bar"
    [ngClass] = "{'ng-active': isFocused && control.valid, 'ng-active-invalid':  isActive() && !control.valid}"
    >
    </span>

    <label 
    [ngClass] = "{'ng-active': isActive()}"
    htmlFor="{{id}}">
      {{ label | translate }}
    </label>

    <em *ngIf="!control.valid && submitAttempt">
      {{ errorLabel | translate }}
    </em>

</div>